.d2 {

    width: 1000px;
    margin: 0 auto;

}

.d3 {

    padding-top: 20px;
    padding-bottom: 20px;

}

.d4 {

    height: 38px;
    line-height: 33px;
    float: left;

}

.d6 {
    background: url("img/body_bg.jpg") repeat-x;
}

.du {
    margin: 0 auto;
    width: 1000px;
}



.d5 {
    float: right;
    height: 38px;
    line-height: 38px;
}

.dv-u1>li {
    float: left;
}

.dv-u2>li {
    float: left;
}

.dv-u1>li>a {
    display: block;

    padding: 0 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}

.dv-u1>li>a:hover {
    background-color: #ffffff;
    color: #FF7000;
}

.dv-u2>li>a {
    display: block;

    padding: 0 15px;
    color: #ffffff;
    text-align: center;
    font-size: 6px;

}

.dv-u2>li>a:hover {
    color: red;
}

.dv-l1 {
    margin: 5px;
}